@model DANotify.Models.DeviantArtFeedViewModel
@{
    ViewData["Title"] = "Feed";
}

<div class="alert alert-primary">
    Visit the <a href="/DeviantArt/FeedSettings">feed settings page</a> to configure what kinds of items appear in the feed.
</div>

@if (Model.More) {
    <div class="alert alert-secondary">
        There are too many items in your activity feed to display on one page.
        Showing the @Model.Items.Count() most recent items.
        <br />
    </div>
}

@if (!Model.Items.Any()) {
    <div class="alert alert-secondary">
        There are no new items to display in your activity feed.
    </div>
    <p>
        <a class="btn btn-danger" href="/DeviantArt/MarkAsRead?dt=@Uri.EscapeDataString(DateTimeOffset.MinValue.ToString("o"))">
            Mark all as new
        </a>
        <br />
        <span class="small text-muted">
            This will show all activity items that have not yet been cleared from DeviantArt's own watch page.
        </span>
    </p>
}

@foreach (var g in Model.DeviationsByUser) {
    <h1>@g.Key</h1>
    <div class="container-fluid">
        <div class="row">
            @foreach (var d in g) {
                <div class="col-md-3 text-center">
                    <a href="@d.Url">
                        <img src="@d.Thumbs.Select(x => x.Src).FirstOrDefault()"
                             style="width: 100%; height: 150px; object-fit: contain" />
                        <br />
                        @d.Title
                    </a>
                </div>
            }
        </div>
    </div>
    <hr />
}

@if (Model.Journals.Any()) {
    <h1>Journal Entries</h1>
    @foreach (var d in Model.Journals) {
        <p>
            <a href="@d.Url">
                <strong>@d.Author.Username:</strong>
            </a>
            <span class="html-convertible-to-text">@d.Excerpt</span>
        </p>
    }
    <hr />
}

@if (Model.StatusesByUser.Any()) {
    <h1>Status Updates</h1>
    @foreach (var g in Model.StatusesByUser) {
        <h3>@g.Key</h3>
        foreach (var s in g) {
            <p>
                <a href="@s.Url">
                    <strong>@s.Author.Username:</strong>
                </a>
                <span class="html-convertible-to-text">@s.Body</span>
            </p>
        }
    }
    <hr />
}

@foreach (var i in Model.UsernameChanges) {
    <p>
        <strong>@i.Formerly</strong>
        has changed their username to
        <a href="https://www.deviantart.com/@i.ByUser.Username">@i.ByUser.Username</a>
    </p>
    <hr />
}

@if (Model.CollectionUpdates.Any()) {
    <h1>Collection Updates</h1>
    @foreach (var i in Model.CollectionUpdates) {
        <p>
            <strong><a href="https://www.deviantart.com/@i.ByUser.Username">@i.ByUser.Username</a></strong>
            has added @i.AddedCount deviations to the collection
            <strong><a href="@i.Collection.Url">@i.Collection.Name</a></strong>
        </p>
    }
    <hr />
}

@if (Model.Cursor != null && Model.More) {
    <p>
        <a class="btn btn-primary" href="/DeviantArt/Feed?cursor=@Model.Cursor&start=@Uri.EscapeDataString(Model.Start.ToString("o"))">
            Next page &raquo;
        </a>
    </p>
    <hr />
}

@if (Model.Items.Any()) {
    <p>
        <a class="btn btn-danger" href="/DeviantArt/MarkAsRead?dt=@Uri.EscapeDataString(Model.Start.ToString("o"))">
            Mark all as read
        </a>
        <br />
        <span class="small text-muted">
            This will not clear old activity from your DeviantArt feed, but it will hide it from this app.
        </span>
    </p>
}

<script type="text/javascript">
    var convertibles = document.getElementsByClassName("html-convertible-to-text");
    var tempDiv = document.createElement("div");
    for (var i = 0; i < convertibles.length; i++) {
        tempDiv.innerHTML = convertibles[i].innerText;
        var str = tempDiv.innerText;
        if (str.length > 100)
            str = str.substring(0, 100) + "...";
        convertibles[i].innerText = str;
    }
</script>