@model ArtworkInbox.Models.FeedViewModel
@{
    ViewData["Title"] = "Feed";
}

<style type="text/css">
    h1 {
        margin-bottom: 1rem;
    }
    img.feed-image {
        height: 150px;
    }
    @@supports (object-fit: contain) {
        img.feed-image {
            width: 100%;
            object-fit: contain;
        }
    }
</style>

<div>
    <h5 class="card-title">
        @if (Model.AuthenticatedUser.AvatarUrl != null) {
            <img src="@Model.AuthenticatedUser.AvatarUrl" width="50" height="50" />
        }
        @Model.AuthenticatedUser.Username
    </h5>
    <a href="@Model.AuthenticatedUser.ProfileUrl" target="_blank">Profile</a>
    &middot;
    <a href="@Model.NotificationsUrl" target="_blank">
        Notifications
        @if (Model.NotificationsCount != null) {
            @:(@Model.NotificationsCount)
        }
    </a>
    &middot;
    <a href="@Model.SubmitUrl" target="_blank">Submit</a>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (Model.FeedBatch.HasMore) {
                <div class="alert alert-primary">
                    Showing the @Model.FeedBatch.FeedItems.Count() most recent items.
                    <br />
                </div>
            }

            @if (!Model.FeedBatch.FeedItems.Any()) {
                <div class="alert alert-secondary">
                    There are no new items to display in your activity feed.
                </div>
            }

            @if (Model.StatusesByUser.Any()) {
                <h1>Status Updates</h1>
                @foreach (var s in Model.StatusesByUser.SelectMany(g => g).OrderByDescending(s => s.Timestamp)) {
                    @*<div style="clear: both; border-bottom: 1px dashed currentColor; margin-bottom: 1em">
                        <div style="display: flex; flex-direction: row">
                            <div style="flex: 0 0 auto">
                                <a href="@s.LinkUrl">
                                    <img src="@s.Author.AvatarUrl" width="50" height="50" alt="" sty />
                                </a>
                            </div>
                            <div style="flex: 1 1 auto; line-height: 50px; text-align: left">
                                <a href="@s.LinkUrl">
                                    @s.Author.Username
                                </a>
                            </div>
                            <div style="flex: 0 0 auto; text-align: right" class="small">
                                <a href="@s.LinkUrl">
                                    @s.Timestamp.UtcDateTime.ToShortDateString()
                                    <br />
                                    @s.Timestamp.UtcDateTime.ToLongTimeString() UTC
                                </a>
                            </div>
                        </div>
                        <p>
                            <span class="html-to-convert">@s.Excerpt</span>
                        </p>
                    </div>*@
                    <div style="clear: both; border-bottom: 1px dashed currentColor; margin-bottom: 1em">
                        <div style="float: right; text-align: right" class="small">
                            <a href="@s.LinkUrl" target="_blank">
                                @s.Timestamp.UtcDateTime.ToShortDateString()
                                <br />
                                @s.Timestamp.UtcDateTime.ToLongTimeString() UTC
                            </a>
                        </div>
                        <h5>
                            <a href="@s.LinkUrl" target="_blank">
                                @if (s.Author.AvatarUrl != null) {
                                    <img src="@s.Author.AvatarUrl" width="50" height="50" alt="" style="margin-right: 0.25em" />
                                }
                                @s.Author.Username
                            </a>
                        </h5>
                        <p>
                            <span class="html-to-convert">
                                @s.Excerpt
                            </span>
                        </p>
                    </div>
                }
                <hr />
            }

            @if (Model.FeedBatch.Cursor != null && Model.FeedBatch.HasMore) {
                <p>
                    <a class="btn btn-primary" href="Feed?host=@Model.Host&cursor=@Uri.EscapeDataString(Model.FeedBatch.Cursor)&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                        Next page &raquo;
                    </a>
                </p>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var to_convert = document.getElementsByClassName("html-to-convert");
    var div = document.createElement("div");
    for (var i = 0; i < to_convert.length; i++) {
        div.innerHTML = to_convert[i].innerText;

        // Add spaces between paragraphs
        for (var j = div.children.length - 1; j >= 0; j--) {
            div.insertBefore(document.createTextNode(" "), div.children[j]);
        }

        to_convert[i].innerText = div.innerText;
    }
</script>