@model ArtworkInbox.Models.SourceViewModel
@{
    ViewData["Title"] = "Status Feed (Twitter / Mastodon / DeviantArt)";
}

@section LinkRelNavigation { 
    <link rel="first" href="Feed?key=@Model.Key&offset=0&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))" />
    @if (Model.HasLess) {
        <link rel="prev" href="Feed?key=@Model.Key&offset=@Model.LastOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))" />
    }
    @if (Model.HasMore) {
        <link rel="next" href="Feed?key=@Model.Key&offset=@Model.NextOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))" />
    }
}

<div>
    <h5 class="card-title">
        @if (Model.AuthenticatedUser.AvatarUrl != null) {
            <img src="@Model.AuthenticatedUser.AvatarUrl" width="50" height="50" />
        }
        @Model.AuthenticatedUser.Username
    </h5>
    <a href="@Model.AuthenticatedUser.ProfileUrl" target="_blank">Profile</a>
    &middot;
    <a href="@Model.NotificationsUrl" target="_blank">
        Notifications
        @if (Model.NotificationsCount != null) {
            @:(@Model.NotificationsCount)
        }
    </a>
    &middot;
    <a href="@Model.SubmitUrl" target="_blank">Submit</a>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            @if (Model.HasMore) {
                <div class="alert alert-primary">
                    Showing the @Model.FeedItems.Count() most recent items.
                    <br />
                </div>
            }

            @if (!Model.FeedItems.Any()) {
                <div class="alert alert-secondary">
                    There are no new items to display in your activity feed.
                </div>
            }

            @if (Model.StatusesByUser.Any()) {
                <h1>Status Updates</h1>
                @foreach (var s in Model.StatusesByUser.SelectMany(g => g).OrderByDescending(s => s.Timestamp)) {
                    <div style="clear: both; border-bottom: 1px dashed currentColor; margin-bottom: 1em">
                        <div style="float: right; text-align: right" class="small">
                            <a href="@s.LinkUrl" target="_blank">
                                @s.Timestamp.UtcDateTime.ToShortDateString()
                                <br />
                                @s.Timestamp.UtcDateTime.ToLongTimeString() UTC
                            </a>
                        </div>
                        <h5>
                            <a href="@s.LinkUrl" target="_blank">
                                @if (s.Author.AvatarUrl != null) {
                                    <img src="@s.Author.AvatarUrl" width="50" height="50" alt="" style="margin-right: 0.25em" />
                                }
                                @s.Author.Username
                            </a>
                        </h5>
                        <p>
                            <span class="html-to-convert">
                                @s.Excerpt
                            </span>
                        </p>
                    </div>
                }
                <hr />
            }

            @if (Model.HasMore || Model.HasLess) {
                <p>
                    @if (Model.HasLess) {
                        <a class="btn btn-primary" href="Feed?key=@Model.Key&offset=@Model.LastOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                            &laquo; Previous page
                        </a>
                    }

                    @if (Model.HasMore) {
                        <a class="btn btn-primary" href="Feed?key=@Model.Key&offset=@Model.NextOffset&latest=@Uri.EscapeDataString(Model.Latest.ToString("o"))">
                            Next page &raquo;
                        </a>
                    }
                </p>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var to_convert = document.getElementsByClassName("html-to-convert");
    var div = document.createElement("div");
    for (var i = 0; i < to_convert.length; i++) {
        div.innerHTML = to_convert[i].innerText;

        // Add spaces between paragraphs
        for (var j = div.children.length - 1; j >= 0; j--) {
            div.insertBefore(document.createTextNode(" "), div.children[j]);
        }

        to_convert[i].innerText = div.innerText;
    }
</script>