@model IEnumerable<ArtworkInbox.Data.UserExternalFeed>

@{
    ViewData["Title"] = "Add/Remove Feeds";
}

<h1>Add/Remove Feeds</h1>

<p>
    Artwork Inbox can read both Atom and RSS feeds. When adding a new feed, ake sure to select the correct type.
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRead)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
